<button *ngIf="!addFlavor"(click)="clickedAdd()" type="button" class="btn btn-warning">Add Flavor</button>
<div [ngStyle]="{'background-color': newColor, 'color': newFontColor}" *ngIf="addFlavor">
  <h3>Add new Flavor here!</h3>
  <label>Enter Flavor Name:</label>
  <input #newName>
  <br>
  <label>Enter Flavor Price:</label>
  <input #newPrice>
  <br>
  <label>Enter Flavor Color:</label>
  <input [(ngModel)] = "newColor" >
  <br>
  <label>Enter Flavor Color:</label>
  <input [(ngModel)] = "newFontColor" >
  <button (click)="addButtonClicked(newName.value, newPrice.value, newColor, newFontColor)" type="button" name="button">Add Flavor</button>
</div>
