<div class="card bucket-table">
  <table>
      <tr>
        <th>Flavor</th>
        <th>Order Scoops</th>
        <th>Price per Scoop</th>
        <th>Price</th>
      </tr>
      <tr [ngStyle]="{'background-color': currentBucket.color, 'color': currentBucket.fontColor}"  *ngFor="let currentBucket of childBucketList | inOrder ">
        <td>{{currentBucket.flavor}}</td>
        <td>{{currentBucket.currentScoops}}</td>
        <td>{{currentBucket.scoopPrice}}</td>
        <td>{{currentBucket.totalPrice()}}</td>
      </tr>
      <tr>
        <td>Total: </td>
        <td>{{sumTotal(currentBucket)}}</td>
      </tr>
  </table>
  <button (click)="clickedSell()"  type="button" class="btn btn-success"> Confirm Transaction </button>
</div>
