<div class="card bucket-table">
  <table>
      <tr>
        <th>Flavor</th>
        <th>Order Scoops</th>
        <th>Price per Scoop</th>
        <th>Price</th>
      </tr>
      <tr [ngStyle]="{'background-color': currentBucket.color, 'color': currentBucket.fontColor}"  *ngFor="let currentBucket of childBucketList | inOrder ">
        <td>&nbsp;{{currentBucket.flavor}}</td>
        <td>&nbsp;{{currentBucket.currentScoops}}</td>
        <td>${{currentBucket.scoopPrice}}</td>
        <td>${{currentBucket.totalPrice()}}</td>
      </tr>
    </table>
    <hr>
    <h5 id="total">Current Total: ${{getTotal()}}</h5>
    <!-- {{sumTotal(currentBucket)}} -->


  <button (click)="clickedSell()"  type="button" class="btn btn-success"> Confirm Transaction </button>
</div>
