<div id= "bucket-table">
  <table>
    <tr>
      <th id="bucket-flavor">Flavor</th>
      <th id="remaining-scoops">Scoops Left</th>
      <th id="scoop-cost">$/Scoop</th>
      <th id="scoop-quantity"> # of Scoops</th>
    </tr>

    <tr [ngStyle]="{'background-color': currentBucket.color, 'color': currentBucket.fontColor}" *ngFor="let currentBucket of childBucketList">
      <td id="bucket-flavor">&nbsp;{{currentBucket.flavor}}</td>
      <td id="remaining-scoops">&nbsp;{{currentBucket.remainingScoops}} / 96</td>
      <td id="scoop-price">${{currentBucket.scoopPrice}}</td>
      <td id="scoop-quantity">
        <div id="plusMinus">
          <button (click)="clickSubtract(currentBucket)" type="button" class="btn" id="minus-butt">
            <img src="./assets/choc-minus.png" alt="subtract" class="addSub">
          </button>
          <button (click)="clickAdd(currentBucket)" type="button" class="btn" id="add-butt">
            <img src="./assets/icecream_plus.png" class="addSub" alt="add">
          </button>
        </div>
      </td>
    </tr>
    <button (click)="clickNewOrder()" type="button" class="btn bg-primary">
      add a new order
    </button>

  </table>
</div>
