<div class="card bucket-table">
  <table >
      <tr>
        <th>Bucket Flavor</th>
        <th>Remaining Scoops</th>
        <th>Price per Scoop</th>
        <th># of Scoops</th>
      </tr>
      <tr [class]="currentBucket.flavor" *ngFor="let currentBucket of childBucketList">
        <td>&nbsp;{{currentBucket.flavor}}</td>
        <td>&nbsp;{{currentBucket.remainingScoops}}</td>
        <td>{{currentBucket.scoopPrice}}</td>
        <td>
          <div id="plusMinus">
            <button (click)="currentBucket.subtractScoop()" type="button" class="btn" id="minus-butt"><img src="./assets/choc-minus.png" alt="subtract" class="addSub"></button>
            <button (click)="currentBucket.addScoop(1)"  type="button" class="btn" id="add-butt"> <img src="./assets/icecream_plus.png" class="addSub" alt="add"> </button>
          </div>
        </td>

      </tr>
  </table>
</div>
