#bucket-table {
  position: relative;
  display: block;
  margin: auto 15%;
}


#minus-butt, #add-butt {
  background-color: transparent;
}

#bucket-flavor {
  width: 20%;
}

#remaining-scoops {
  width: 30%;
  text-align: left;
}

#scoop-cost {
  width: 15%;
  text-align: center;
}

#scoop-quantity {
  width: 35%;
  text-align: center;
}

#plusMinus {
  margin: 0 auto;
}

.addSub {
  height: 50px;
  width: 50px;
  margin: auto;
}
